@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url("bingo_kepek/hatter.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    max-height: 100vh;
}
nav{
    position: absolute;
    top: 20px;
    left: 50;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
#jatekTer{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Gép*/
#gep{
    width: 30vw;
    height: 60vh;
    background: rgba(0, 128, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10%;
    border: 1px solid;
}
#kezdes{
    position: absolute;
    width: 100%;
    max-width: 415px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: calc(50%-100px);
    left: calc(50%-100px);
}
#szam-megjelenito{
    font-family: 'Roboto Slab', serif;
    font-size: 300%;
}
/*------------------------------------*/

/*Kártya*/

#kartya{
    width: 40vw;
    height: fit-content;
    background: rgba(172, 150, 140, 0.9);
    border-radius: 1.5%;
}

#szamok{
    height: 75vh;
    width: 40vw;
}

table{
    width: 40vw;
    height: 100%;
    
}
td{
    border:1px solid;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    width: 20%;
    font-family: 'Stick No Bills', sans-serif;
    border-radius: 5%;
}
tr{
    width: 8vw;
    height: 16vh;
}
.volt{
    background: rgba(255, 0, 0, 0.432);
}
/*------------------------------------*/

/*Gombok*/
.gomb{
    font-size: 3em;
    cursor: pointer;
}
#ujrakezdes{
    position: absolute;
    width: 100%;
    max-width: 415px;
    height: 200px;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: calc(50%-100px);
    left: calc(50%-100px);
    background: rgba(0, 0, 0, 0.8);
}
#kerdes{
    text-align: center;
    color: white;
}
/*------------------------------------*/

/*Sebesség változtató nyilak*/
#fel-nyil{
    top: 20%;
    left: calc(50% - 15px);
    transform: rotate(-90deg);
}
#le-nyil{
    bottom: 20%;
    left: calc(50% - 15px);
    transform: rotate(90deg);
}
.nyil{
    position: absolute;
    background: url(bingo_kepek/nyil.jpg);
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid;
}
#sebesseg-valtoztato{
    position: absolute;
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*------------------------------------*/
@media screen and (max-width: 550px){
    main{
        flex-direction: column;
        max-height: 100vh;
    }
    #kartya{
        height: 60%;
        width: 80%;
    }
    table{
        width: 100%;
        height: 100%;
    }
    table > *{
        height: 20%;
    }
    #gep{
        height: 30%;
        width: 70%;
    }
    #igen,#nem{
        font-size: 15vw;
    }
    #jatekTer{
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }
    #fel-nyil{
        top: 5px;
        left: calc(50% - 15px);
    }
    #le-nyil{
        bottom: 5px;
        left: calc(50% - 15px);
    }
}
@media screen and (max-width: 350px){
    #kartya{
        width: 100%;
    }
    
}