@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: darkgray;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
#kartya{
    width: 40vw;
    height: 80vh;
    background: pink;
}
#gep{
    width: 30vw;
    height: 60vh;
    background: green;
}
#szamok{
    height: 75vh;
    width: 40vw;
}
nav{
    position: absolute;
    top: 20px;
    left: 40px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
table{
    width: 40vw;
    height: 100%;
    border-collapse: collapse;
}
td{
    border:1px solid;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
}
tr{
    width: 8vw;
    height: 16vh;
}
#gep{
    display: flex;
    justify-content: center;
    align-items: center;
}
#szam-megjelenito{
    font-size: 3rem;
}
.volt{
    background: red;
}
#igen,#nem{
    font-size: 10vw;
}
#ujrakezdes{
    position: absolute;
    width: 100%;
    height: 200px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: calc(50%-100px);
    left: calc(50%-100px);
}
#kerdes{
    flex: 100%;
}
@media screen and (max-width: 550px){
    main{
        flex-direction: column;
        max-height: 100vh;
    }
    #kartya{
        height: 60%;
        width: 80%;
    }
    #gep{
        height: 30%;
    }
}