@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: absolute;
    top:5%;
    left:5%;
    
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color:white
}

#jatek-ter{
    width:85%;
    height: 85%;
    max-width: 1200px;
    max-height: 800px;
    background-color:rgb(27, 27, 27);
    border-radius: 2%;
    display: flex;
    overflow:auto;
    align-items: center;
    justify-content: space-evenly;
}
/*------------------------------------*/

/*Adatok rész*/
#adatok{
    width:40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}
input[type=number] {
    -moz-appearance: textfield;
}
#bomba-szam{
    display: flex;
    width:100%;
    height: 25%;
    justify-content: space-between;
}
#tartalom,#nyeremeny{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#aktualis-nyeremeny{
    height: 75%;
    color:white;
}
#tet-valtoztato{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
#ertek{
    width: 60%;
    height: 100%;
}
.tet-gomb{
    width:calc(40% / 3);
    height: 100%;
}
.bomba-gomb{
    height:100%;
    width:100%;
}
.bomba-gomb,.tet-gomb{
    border:1px solid lightgray;
    background-color:white;
}
.piros{
    background-color: red;
}
#jatek-inditas{
    width:100%;
    height:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fo-gomb{
    width: 100%;    
    border-radius: 10px;    
}
#inditas{
    background-color:gold;
    height: 100%;
}
#kivetel{
    background-color: chartreuse;
    height: 25%;
}
.fo-gomb,.bomba-gomb,.tet-gomb{
    cursor: pointer;
}
#ertek:focus{
    outline: none;
}
/*------------------------------------*/

#uj-jatek{
    display: none;
    position:absolute;
    width:20%;
    height: 20%;
    top:calc(50% - 10%);
    left:calc(50% - 10%);
    background-color: black;
}
/*------------------------------------*/
/*Táblázat*/

#tablazat{
    width:60%;
    max-height: 100%;
    max-width: 550px;
    max-height: 550px;
    aspect-ratio: 1/1;
}

table{
    width:100%;
    height: 100%;
    border-spacing: 10px;
}

/*------------------------------------*/

/*Kártyák*/
.kartya{
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transfrom .5s;
}
.kartya:active{
    transform:scale(.97);
    transition: transform .2s;
}
.kartya.flip{
    transform: rotateY(180deg);
}
.elolap,.hatlap{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    padding:15%;
    border-radius: 5px;
    backface-visibility: hidden;
}
.elolap{
    transform:rotateY(180deg);
}
table tr{
    width:100%;
    height: fit-content;
}
table tr td{
    background-color: white;
    border-radius: 3%;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
td img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
  }
/*------------------------------------*/
@media screen and (max-width:650px){
    #jatek-ter{
        flex-direction: column;
    }
    #tablazat{
        width:80%;
        height:fit-content;
    }
    #adatok{
        width:100%;
        height:35%;
    }
    #tartalom{
        width:100%;
        height: 100%;
    }
    tr{
        height: calc(100% / 5 - 60px);
    }
    #kivetel{
        height:80%;
    }


}
@media screen and (max-width:350px){
    #jatek-ter{
        width:100%;
    }
    #adatok{
        height: 30%;
    }
    table{
        border-spacing: 2vw;
    }
    #tablazat{
        width: 100%;
        height: fit-content;
    }
    tr{
        height: fit-content;
    }
    td{
        width: 5px;
        height: 5px;
    }
}