@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(kepek/orosz-rulett-hatter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
#fegyver{
    width: 100%;
    max-width: 45vw;
    min-width: 30vw;
    max-height: 100vh;
    aspect-ratio: 1/1;
    overflow: auto;
    background: black;
    border-radius: 50%;
    position: relative;
}
.forog{
    animation: forgatas 1.5s forwards;
}
.kicsit-forgat{
    animation: fegyver-forgatasa-egy-ponttal 1s forwards;
}
.lyuk{
    width: 18%;
    height: 18%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:calc(50% - 9%);
    left: calc(50% - 9%);
}
.pici-lyuk{
    width: 6%;
    height: 6%;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
}
#lyuk-1{
    transform: rotate(-90deg) translate(176.3%);
    z-index: 20;
}
.loszer-megjelenit{
    background: url(kepek/loszer.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    animation: loszer-behelyez 1s forwards !important;
}
#lyuk-2{
    transform:rotate(30deg) translate(176.3%);
}
#lyuk-3{
    transform: rotate(-30deg) translate(176.3%);
}
#lyuk-4{
    transform: rotate(90deg) translate(176.3%);
}
#lyuk-5{
    transform: rotate(150deg) translate(176.3%); 
}
#lyuk-6{
    transform: rotate(210deg) translate(176.3%);
}
#lyuk-7{
    bottom: calc(50% - 3%);
    left: calc(50% - 3%);
}
nav{
    position: absolute;
    top: 20px;
    left: 40px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
#gombok{
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
}
.gomb{
    width: 20vw;
    font-size: 4.8vw;
    cursor: pointer;
}
#uj-jatek{
    display: none;
}
#kezd,#uj-jatek{
    position: absolute;
    top:calc(50% - 3vw);
    left: calc(50% - 10vw);
}

 @keyframes forgatas{
    0%{
        transform: rotateZ(0deg);
     }
     100%{
        transform: rotateZ(360deg);
    }
}
@keyframes loszer-behelyez{
    0%{
        width: 24%;
        height: 24%;
        top:calc(50% - 0%);
        left: calc(50% - 12%);
    }
    100%{
        width: 18%;
        height: 18%;
        top:calc(50% - 9%);
        left: calc(50% - 9%);
    }
}
@keyframes fegyver-forgatasa-egy-ponttal{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(60deg);
    }
}
@media screen and (max-width: 750px){
    main{
        flex-direction: column;
        justify-content: space-around;
    }
    #gombok{
        height: 20vh;
        width: 70vw;        
        flex-direction: column;
        align-items: center;
    }
    .gomb{
        width: 100%;
        max-width: 220px;
        font-size: 2em;
    }
    #fegyver{
        max-width: 90vw;
        width: 90vw;
        min-width: 70vw;
    }
}
