@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    background: green;
    overflow-y: hidden;
    overflow-x: hidden;
}
#kerek{
    position: relative;
    width: 25vw;
    height: 25vw;
    background: url(kepek/kerek.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*animation: forgat 15s ease-out;*/
}
table{
    background: red;
    border-collapse: collapse;
    position: relative;
}
#tabla{
    width: 65vw;
}
td{
    font-size: 2.5vw;
    width: 5.4vw;
    text-align: center;
    color: white;
}
#asztal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.seged-div{
    width: 3vw;
    position: absolute;
}
.seged-0{    
    left: 3.9vw;
}
.seged-0,.seged-1,.seged-2,.seged-3,.seged-4,.seged-5,.seged-6,.seged-7,.seged-8,.seged-9,.seged-10{
    top: 4vw;
}
.seged-11,.seged-12,.seged-13,.seged-14,.seged-15,.seged-16,.seged-17,.seged-18,.seged-19,.seged-20,.seged-21{
    top: 9.5vw;
}
@keyframes forgat{    
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(5400deg); }
}
@media screen and (max-width:400px){
    #kerek{
        width: 70vw;
        height: 70vw;
    }
    table,#tabla{
        width: 100%;
    }
    table{
        height: fit-content;
    }
}