@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    background: rgb(93, 121, 93);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
nav{
    position: absolute;
}
#kerek{
    position: relative;
    width: 30%;
    height: auto;
    max-width: 500px;
    aspect-ratio: 1/1;
    background: url(rulett_kepek/kerek.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.kerekForgatas{
    animation: forgat 15s ease-in-out forwards;
}
#gombok{
    width: 40vw;
    height: 20vh;
    position: absolute;
    top: calc(50% - 10vh);
    left: calc(50% - 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
#kezd{
    font-size: 3rem;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: fit-content;
}
table>img{
    width: 6%;
    position: absolute;
}
#tabla{
    width: 60%;
    max-height: 50%;
    max-width: 1500px;
    position: relative;
}
td{
    font-size: 2.5vw;
    width: calc(100%/12);
    text-align: center;
    color: white;
}
#zsetonok{
    width: 100%;
    height: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -55%;
    left: 0;
}
#zsetonok img{
    width: 10%;
}
.beillesztett-zseton{
    width: 80%;
    height: 80%;
}   
#asztal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
}
.seged-div{
    width: 5%;
    position: absolute;    
}
.seged-div,tr>td{
    background-position: center !important;
    background-size: 80% !important;
    background-repeat: no-repeat !important;
}

#golyo-tarolo{
    width: fit-content;
    height: 35%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left:calc(50% - 0.75vw);
    bottom: 50%;
    /*background: red;*/
    transform-origin: bottom;
    
}
#golyo{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: yellow;
}
@media screen and (max-width:800px){
    #asztal{
        flex-direction: column;
    }
    #tabla{
        width: 80%;
    }
    table{
        width: 100%;
        height: fit-content; 
    }
    #zsetonok{
        width: 100%;
    }
    
}
@media screen and (max-width:400px){
    table,#tabla{
        width: 100%;
        max-width: 100%;
    }
    table{
        height: fit-content;
    }
    #kerek{
        width: 100% !important;
    }
}