@charset "UTF-8";
body{
    background: url(fo_oldal_kepek/hatter.jpg);
    background-attachment: fixed;
}
main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "n"
    "j";
}

.jatek,body{    
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
}
/*------------------------------------*/

/*Játékok*/
#jatekok{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: "j";
    max-width: 100vw;
}
.jatek{
    min-width: 200px;
    flex: calc(25% - 20px);
    text-align: center;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;   
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#bingo{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/bingo.png);
}
#rulett{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/roulette.png);
}
#rablo{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/felkaru.jpg);
}
#poker{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/poker.jpg);
}
#black-jack{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/blackjack.jpg);
}
#orosz-rulett{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/orosz-roulette.jpg);
}
#itt-a-piros{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/piros.jpg);
    font-weight: bold;
}
#cash-out{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(fo_oldal_kepek/cash-out.jpg);
}
/*------------------------------------*/


/*Navigáció*/
nav{
    height: 10vh;
    grid-area: "n";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}
nav>ul>li{
    list-style-type: none;
}
nav>ul a{
    text-decoration: none;
}
#ul-1{
    max-width: 300px;
}
#ul-2{
    max-width: 200px;
    padding-right: 4vw;
}
/*------------------------------------*/

@media screen and (max-width:400px){
    nav{
        justify-content: space-around;
    }
    #ul-1{
        min-width: 50%;
    }
    #ul-2{
        min-width: 50%;
    }
}
@media screen and (max-width:280px){
    nav{
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
    }
    #ul-2{
        padding-right: 0;
    }
}